.Mainhead{
    height: 400px;
    padding-top: 200px;
    background: url(../components/img/1oxd.gif) no-repeat center;
    background-size: cover;
    width:100%;
    display: relative;
    
}

.carou_title{
    text-align: left;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: -3%;
}

.Body1{
    width: 40%;
    border-right: 3px solid black ;
}