.body-Signup{
    background-color: rgb(255, 255, 255);
    height: 675px;
    padding: 100px 50px;
}

.Signup-box{
    border: 2px solid rgb(196, 196, 196, 30);
    border-radius: 10px;
    padding-top: 50px;
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 50px  auto;
}


.sign-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: -10px;
}

.write{
    border: none;
    border-bottom: 1px solid gray;
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
}

.submit{
    height: 20px;
}