.App {
    font-family: "SLEIGothicTTF";
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    
  }

  .wrap {
    position: relative;
    padding: 250px 15%;
  }
  
  .topBtn {
    position: fixed; 
    opacity: 0; 
    bottom: 40px; 
    right: 40px;
    z-index: -10; 
    width: 50px; 
    height: 50px;
    border-radius: 100%;
    border: 0 none;
    background:rgba(#208d2f, 0.5);
    color:white;
    border: 2px solid white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.06em;
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: opacity 0.3s ease-in;
  }
  
  .topBtn.active {
    z-index: 10; 
    opacity: 1; 
  }
  
  .topBtn:hover,
  .topBtn:focus,
  .topBtn:active { 
    outline: 0 none; 
  }

  .carousel {
    /* width: 900px;
    height: 500px; */
    width: 900px;
    height: 500px;
    margin: auto;
    z-index: 2;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  .home-main {
    height: 90vh;
    background-color: #208d2f;
  }
  .home-content {
    position: relative;
    top: 25px;
    right: 25px;
  }
  .Crop {
    display: flex;
    font-family: "SLEIGothicTTF";
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }