@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #208d2f;
$bg: rgb(105, 163, 97);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 60px;

@mixin breakpoint($point) {
    @if $point == md {
        // 890px
        @media (min-width: 890px) {
            @content;
        }
    }
}

